name: worflows
on: push

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: greeting
        uses: actions/checkout@v5
  
  second_job:
    runs-on: ubuntu-latest
    steps:
      - name: Install Docker
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io 