name: workflows

on:
  pull_request:
    event-types: [opened, synchronize, reopened]
    branches:
      - main  # Adjust as needed

jobs:
  first_job:
    strategy:
      matrix:
        os: [ubuntu-latest]
        image: [alpine, ubuntu, hello-world, nginx, redis, postgres, node, mysql]
      fail-fast: false
      max-parallel: 1
    runs-on: ${{ matrix.os }}
    steps:
      - name: check docker version
        run: |
          docker --version
      - name: pull docker image
        run: |
          docker pull ${{ matrix.image }}:latest

  second_job:
    runs-on: ubuntu-latest
    steps:
      - name: update
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: '1.5.6'

  fourth_job:
    runs-on: ubuntu-latest
    needs: third_job
    steps:
      - name: build Docker image
        run: |
          docker pull alpine:latest
      - name: upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: alpine-image
          path: /var/alpine-image

  third_job:
    runs-on: ubuntu-latest
    steps:
      - name: Run a Docker container
        run: |
          docker run hello-world

  fifth_job:
    runs-on: macos-latest
    needs: fourth_job
    steps:
      - name: install docker on macos
        run: |
          brew install --cask docker