name: worflows
on: push

jobs:
  first_job:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        image: [alpine, ubuntu, centos]
    runs-on: ${{ matrix.os }}
    steps:
      - name: greeting
        run: |
          docker pull ${{ matrix.image }}:latest
  
  second_job:
    runs-on: ubuntu-latest
    steps:
      - name: update
        run: |
          sudo apt-get update

  fourth_job:
    runs-on: ubuntu-latest
    needs: third_job
    steps:
      - name: build Docker image
        run: |
          docker pull alpine:latest
      - name: upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: alpine-image
          path: /var/alpine-image     

  third_job:
    runs-on: ubuntu-latest
    steps:
      - name: Run a Docker container
        run: |
          docker run hello-world 
  fifth_job:
    runs-on: macos-latest
    needs: fourth_job
    steps:
      - name: install dcoker on macos
        run: |
          brew install --cask docker           
